.body {
    width: 100%;
}
.flex-container {
    display: flex;
}
.profile-header {
    align-items: center;
    margin: auto;
    margin-top: 5vw;
    flex-direction: row;
}
.profile-content {
    width: 80%;
    margin: auto;
}
.profile-pic {
    display: block;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100px;
}
.ph-container {
    justify-content: center;
    flex-direction: column;
}
.ph-container > button {
    margin-top: 2vw;
}
.profile-text-info {
    margin-left: 8vw;
}
.profile-text-info > .nick-container {
    flex-direction: row;
    align-items: center;
}
.profile-text-info > .nick-container > h1 {
    font-size: 40px;
}
.profile-text-info > .nick-container > #operbut {
    margin-left: 4vw;
    height: 30px;
}
.profile-text-info > #bio {
    font-size: 16px;
    color: gray;
}
.profile-text-info > #stat {
    display: flex;
    flex-direction: row;
}
.profile-text-info > #stat > p {
    font-size: 16px;
    margin-right: 3vw;
    color:  #424242;
}
.loadmore {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vw;
}
.profile-content {
    width: 80%;
    margin: auto;
    margin-top: 3vw;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-content > img {
    width: 30%;
    height: 30%;
    margin: 5px;
}