* {
    font-family: 'Nunito', sans-serif;
}
body {
    width: 100%;
}
h2 {
    font-size: 20px;
}
.flex-container {
    display: flex;
}
.err {
    color: red;
    text-align: center;
}
.info {
    color: darkgreen;
    text-align: center;
}
label {
    color: dimgray;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
}
.page-title {
    font-size: 40px;
    text-align: center;
    margin-top: 4vw;
}
.main-title {
    margin-top: 10vw;
}
.startpic {
    max-width: 400px;
    max-height: 400px;
    border-radius: 400px;
    border: none;
    margin-top: 100px;
}
.regButtons {
    margin-top: 30px;
}
.reglog-container {
    margin-top: 150px;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}
.profile-header {
    align-items: center;
    margin: auto;
    margin-top: 5vw;
    flex-direction: row;
}
.profile-content {
    width: 80%;
    margin: auto;
}
.profile-pic {
    display: block;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100px;
}
.ph-container {
    justify-content: center;
    flex-direction: column;
}
.ph-container > .edit-btn-container {
    margin-top: 5px;
    flex-direction: row;
    justify-content: center;
}
.profile-text-info {
    margin-left: 8vw;
}
.profile-text-info > .nick-container {
    flex-direction: row;
    align-items: center;
}
.profile-text-info > .nick-container > h1 {
    font-size: 40px;
}
#operbut {
    margin-left: 4vw;
    height: 30px;
}
.profile-text-info > #bio {
    font-size: 16px;
    color: gray;
}
.profile-text-info > #stat {
    display: flex;
    flex-direction: row;
}
.profile-text-info > #stat > p {
    font-size: 16px;
    margin-right: 3vw;
    color:  #424242;
}
.loadmore {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vw;
}
.profile-content {
    width: 80%;
    margin: auto;
    margin-top: 3vw;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-content > .ph {
    width: 25vw;
    height: 25vw;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
.accountInfoContainer {
    margin-top: 2vw;
    align-items: center;
    flex-direction: column;
}
.accountLogin {
    font-size: 14px;
    margin-top: 1vw;
    color: dimgray;
}
.accountInfo {
    flex-direction: row;
    align-items: center;
    margin: auto;
}
.accountInfo > img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
}
.accountInfo > .titleName {
    margin-left: 1vw;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}
.main-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.setter-container {
    flex-direction: column;
    width: 50%;
}
.bordered-container {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
.sp-input {
    margin-top: 15px;
}
.submit-button {
    margin-top: 7px;
}
#titleLink > h5{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.cent-button {
    margin: auto;
    margin-top: 15px;
}
#previewImage {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}
#previewContainer {
    flex-direction: column;
    align-items: center;
}
#mainContainer {
    margin-top: 4vw;
    flex-direction: row;
    justify-content: center;
}
#inputField {
    margin-left: 2vw;
}
.imgViewer {
    position: fixed;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    opacity: 100;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.underlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    z-index: 0;
    background-color: black;
}
.content {
    display: flex;
    height: 100%;
}
.photo {
    height: 100%;
    width: 75%;
    border-radius: 5px;
    background-color: #000000;
    z-index: 1001;
    align-items: center;
    justify-content: center;
}
.phInfo {
    flex-direction: column;
    width: 25%;
    padding: 15px;
    overflow: scroll;
}
.contain-fit {
    max-height: 100%;
    max-width: 100%;
}
.red {
    color: darkred;
}
.gray {
    color: gray;
}
.profile-pic-sm {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
}
.author-info {
    flex-direction: row;
    align-items: center;
}
.link-sm > p {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    display: inline;
}
#likes > i {
    color: #b3b3b3;
    letter-spacing: 3px;
    line-height: 1.5;
}
.nodisplay {
    display: none;
}
.block-show {
    display: block;
    animation: showBlock 0.1s linear forwards;
}
@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.underlay-show{
    display: block;
    animation: showUnderlay 0.1s linear forwards;
}
@keyframes showUnderlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
.footer {
    width: 70%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 200px;
}
.comment {
    overflow: hidden;
    margin-top: 5px;
}
.comment p {
    font-size: 13px;
    color: #424242;
}
.comment b {
    color: #292929
}
.finder-container {
    width: 70%;
    margin: auto;
}
.findstring-contaiter {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.find-button {
    width: 100px;
    margin-left: 10px;
}
.profile-link > h5 {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
#found-result-container {
    width: 800px;
    margin: auto;
    padding-top: 20px;

}
.errstring {
    text-align: center;
    color: #424242;
    margin-top: 10px;
}
.found-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 7px;
    overflow: hidden;
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.found-item-info {
    color: #424242;
    font-size: 14px;
    line-height: 0;
}
.found-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    overflow: hidden;

}
.sub-button {
    margin-left: auto;
}
.found-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 auto;
}
.logo-container {
    width: 25%;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: left;
}
.header {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.header a {
    text-decoration: none;
    color: #424242;
    margin-left: 15px;
    font-size: 16px;
}
.form-container {
    align-items: center;
    flex-direction: column;
}
.header > .action-container {
    width: 75%;
    justify-content: right;
    align-items: center;
}
.header input {
    border-radius: 10px;
    width: 200px;
    border: 1px solid #b3b3b3;
    outline: none;
    height: 25px;
}
.header button {
    background: none;
    border: none;
}
@media screen and (max-device-width: 820px) {
    #found-result-container {
        width: 80%;
    }
    .found-item-text {
        flex-direction: column;
    }
    .found-account-info {
        align-self: flex-start;
    }
    .sub-button {
        align-self: flex-start;
        margin-left: 20px;
    }
    .profile-link > h5 {
        font-size: 14px;
    }
}
@media screen and (max-device-width: 400px) {
    #found-result-container {
        width: 95%;
    }
}
@media screen and (max-device-width: 800px) {
    .content {
        flex-direction: column;
    }
    .photo {
        width: 100%;
        max-height: 70%;
    }
    .phInfo {
        width: 100%;
    }
}
@media screen and (max-device-width: 600px) {
    #mainContainer {
        flex-direction: column;
        width: 95%;
        margin: auto;
    }
    #addPhotoButton {
        margin: auto;
        display: block;
    }
    #previewImage {
        max-width: 95%;
    }
    .startpic {
        max-width: 40%;
        max-height: 40%;
    }
    .setter-container {
        width: 95%;
    }
    #titleLink > h5{
        font-size: 16px;
    }
    .page-title {
        font-size: 24px;
    }
    .accountInfo h5 {
        font-size: 18px;
    }
    .profile-content {
        width: 100%;
    }
    .profile-pic {
        width: 70px;
        height: 70px;
    }
    .profile-text-info > .nick-container > h1 {
        font-size: 26px;
    }
    .profile-text-info > #stat > p {
        font-size: 12px;
        margin-right: 3vw;
    }
    .profile-content > .ph {
        width: 30vw;
        height: 30vw;
        margin: 3px;
    }
    .profile-text-info > #bio {
        font-size: 12px;
    }
    .profile-text-info h4 {
        font-size: 16px;
    }
    .reglog-container {
        width: 90%;
    }
    .header {
        width: 95%;
    }
    #searchField {
        display: none;
    }
}
