<div class="found-item">
    <img src="<?=$profilePic?>" alt="<?=$name?>'s profile picrure" class="avatar">
    <div class="found-item-text">
        <div class="found-account-info">
            <a href="<?=$profileLink?>" target="_self" class="profile-link"><h5><?=$name . ' ' . $surname?></h5></a>
            <p class="found-item-info"><?=$login?></p>
            <p class="found-item-info"><?=$postsCount?> <i class="fas fa-images"></i>
                <?=$inSubsCount?> <i class="fas fa-caret-down"></i> <?=$outSubsCount?> <i class="fas fa-caret-up"></i></p>
        </div>
        <?php if($display) {?>
        <button type="button" class="btn btn-primary btn-sm sub-button" name="sub" id="<?=$login?>"></button>
        <?php } ?>
    </div>
</div>
