<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/473afe022a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/header.css">
<div class="flex header">
    <div class="logo-container">
        <a href="/" target="_self"><img src="" alt="picplace"></a>
    </div>
    <div class="flex action-container">
    <?php if($logged) {?>
        <div class="flex form-container">
            <form method="POST" action="/find">
                <input type="search" placeholder=" Search..." name="criteria">
                <button type="submit" name="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a href="/newsline" target="_self">Newsline</a>
        <a href="/profile/<?=$login?>" target="_self">Your page</a>
        <a href="/logout" target="">Log out</a>
    <?php } else { ?>
        <a href="/login" target="_self">Login</a>
        <a href="/register" target="_self">Register</a>
    <?php } ?>
    </div>
</div>
<style>

</style>