<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/473afe022a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
  </head>
  <body>
  <?=$header?>
  <div class="flex-container main-container">
    <h1 class="page-title">Login</h1>
    <div class="flex-container bordered-container reglog-container ">
      <p><?=$topLabel?></p>
        <form method="POST" action="/login">
          <div class="d-flex flex-column">
            <input type="text" name="login" class="form-control sp-input" placeholder="Login" value="<?=$login?>">
            <input type="password" name="passwd" class="form-control sp-input" placeholder="Password" value="<?=$password?>">
            <button type="submit" name="submit" class="btn btn-outline-primary mb-2 w-50 cent-button" id="submitButton">Log in</button>
          </div>
        </form>
      <p class="err"><?=$bottomLabel?></p>
      <hr>
      <a href="/register" target="_self"><button type="button" class="btn btn-link mb-2 w-100 btn-sm" id="goToRegisterBut">Don't have an account yet? Register now</button></a>
    </div>
  </div>
  <?=$footer?>
  </body>
</html>
