<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/startpage.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/473afe022a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Welcome</title>
    <meta charset="utf-8">
</head>
<body>
    <?=$header?>
    <h1 class="page-title">Welcome to Picplace! Log in or register now!</h1>
    <div class="flex-container main-container">
        <img src="/image/0/color.png/full" alt="color" class="startpic">
        <div>
            <a href="/register" target="_self"><button type="button" onclick="redirect('/register')" class="btn btn-outline-dark">Register</button></a>
            <a href="/login" target="_self"><button type="button" onclick="redirect('/login')" class="btn btn-outline-dark">Log in</button></a>
        </div>
    </div>
    <div class="flex-container footer">
        <label>Photogallery Picplace 2020</label>
    </div>
</body>
</html>